ID=1662605710703
TYPE=bot
MAIN=index.js
NAME=Prefeitura
AVATAR=https://images-ext-1.discordapp.net/external/wAdTQj4l8yk8Cj6STreEqNTlKRkvVpwyA3xblRcSD40/%3Fsize%3D2048/https/cdn.discordapp.com/icons/1013443439083401246/7df9dbae0bbe9fbdc41fbc803f26a73a.png
RAM=100
VERSION=latest
AUTORESTART=true
APT=tools